<ul class= "welcomenu" style="display: flex; justify-content: space-around; margin-bottom: 40px;">
  <li style="list-style-type: none;"><%= link_to new_offer_path, :style => "text-decoration: none; color:black;" do %>Créer une annonce<%end%>
  </li>
  <li style="list-style-type: none;"><%= link_to root_path, :style => "text-decoration: none; color:black;" do %>Mes annonces<%end%>
  </li>
  <li style="list-style-type: none;"><%= link_to root_path, :style => "text-decoration: none; color:black;" do %>Boîte de réception<%end%>
  </li>
  <li style="list-style-type: none;"><%= link_to root_path, :style => "text-decoration: none; color:black;" do %>Projets<%end%>
  </li>
</ul>
<!-- il faut designer la partie bleue -->
<div class="card" style="background-color: #9BBAC9">
  <div class="card-category ">edit </div>
  <div class="card-description">
    <h2>Bienvenue</h2>
  </div>

  <a class="card-link" href="#" ></a>
</div>

<% @offers.each do |offer| %>
<div class="container" style>
  <div class="row">
    <div class="text-center">
      <h3> <%= offer.name %></h3>
    </div>
    <div class="media">
      <div class="media-body">
        <div class="media-section">
          <h3></h3>
          <% offer.photos.each do |photo| %>
          <%= cl_image_tag photo.fullpath, width: 500, height: 500, crop: :fill %>
          <% end %>
        </div>
        <div class="media-section">
          <h3>Description</h3>
          <h4><%= offer.description %></h4>
        </div>
      </div>
      <div class="media-aside">
        <div class="media-section">
          <h3>Informations</h3>
          <h4> Ville: <%= offer.city %></h4>
          <h4> Prix : <%= offer.price %> euros</h4>
          <h4> Addresse: <%= offer.address %></h4>
          <h4> Code postal: <%= offer.zip_code %></h4>
          <h4> Surface: <%= offer.surface %> m2</h4>
          <h4>Nombre de pièces: <%= offer.room_number %></h4>
          <h4>Nombre de chambres: <%= offer.bedroom_number %></h4>
          <h4> type: <%= offer.good_type %></h4>
        </div>
        <div class="media-section">
          <h3>Autres critères</h3>
          <h4>Stationnement: <%= offer.parking %></h4>
          <h4>Terrain: <%= offer.ground %></h4>
          <h4>Ascenseur: <%= offer.lift %></h4>
          <h4>Floor: <%= offer.floor %></h4>
          <h4>Piscine:<%= offer.swimming_pool %></h4>
          <h4>Cave: <%= offer.cave %></h4>
          <h4>Balcon: <%= offer.balcony %></h4>
          <h4>Terrasse<%= offer.terrace %></h4>
          <%= link_to "Delete", offer_path(offer.id), method: :delete,
          data: { confirm: "Etes-vous sûr?" } , class: "btn btn-primary"%>
          <%= link_to "Update", edit_offer_path(offer.id), class: "btn btn-primary"%>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
