
<% @offers.each do |offer| %>
  <h2> <%= offer.name %></h2>
  <h2> <%= offer.description %></h2>
  <h2> <%= offer.price %></h2>
  <h2> <%= offer.address %></h2>
  <h2> <%= offer.zip_code %></h2>
<% end %>


<div class="card">
  <div class="card-category">Popular</div>
  <div class="card-description">
    <h2>Bonjour Florence</h2>
    <p>Vous avez 70 messages</p>
  </div>

</div>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4" >
      <div class=card>

    </div>
    <div class="col-xs-12 col-sm-4">

    </div>
    <div class="col-xs-12 col-sm-4">

    </div>
  </div>
</div>


