<ul class= "welcomenu" style="display: flex; justify-content: space-around; margin-bottom: 40px;font-family:Quicksand;font-size: 20px;">
  <li style="list-style-type: none;"><%= link_to root_path, class: "hvr-shrink", :style => "text-decoration: none; color:black;" do %>Immobiler<%end%>
  </li>
  <li style="list-style-type: none;"><%= link_to root_path, class: "hvr-shrink",:style => "text-decoration: none; color:black;" do %>Professionnels<%end%>
  </li>
  <li style="list-style-type: none;"><%= link_to root_path, class: "hvr-shrink",:style => "text-decoration: none; color:black;" do %>Déco shops<%end%>
  </li>
  <li style="list-style-type: none;"><%= link_to root_path, class: "hvr-shrink",:style => "text-decoration: none; color:black;" do %>Projets<%end%>
  </li>
</ul>

<div>
  <p class="punchliner text-center" style="z-index: 10;display: inline; width: 100%;
    float: left; font-family: Heebo; font-weight: thin!important;font-size: 70px;
  color: white; position: relative;top: 12vh;left:0%;">Concrétisez votre rêve immobilier</p>
</div>
<div class="videocont" style="position: static;-webkit-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);"">
  <video  preload="auto" autoplay="true" loop="loop" id="video-background" width="100%" height="auto" style="position: relative;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);">
    <source src= "<%= image_path('home_web.mp4')%>" type="video/mp4" >
  </video>
</div>
<div style="position: relative; margin-bottom: 40px;">
<ul style="display: flex; justify-content: space-around; margin: auto;font-family:Quicksand;font-size: 20px;">
<li style="list-style-type: none; width: 20%;">Trouvez votre bien <span style="color: #e60000;">immobilier</span> grâce aux annonces vidéos</li>
<li style="list-style-type: none; width: 20%;">Trouvez le bon <span style="color: #e60000;">professionel</span> pour votre projet immobiler</li>
<li style="list-style-type: none; width: 20%;">Découvrez les <span style="color: #e60000;">déco shop</span> et artisans de votre région</li>
<li style="list-style-type: none; width: 20%;">Postez votre <span style="color: #e60000;">projet</span> et laissez les professionnels vous trouver</li>
</ul>
</div>

<div class="container" style="float: middle; -webkit-transform: translateY(-60%);
  -ms-transform: translateY(-60%);
  transform: translateY(-60%); -webkit-transform: translateX(-6%);
  -ms-transform: translateX(-6%);
  transform: translateX(-6%);">
<div class="row">
  <% 6.times do |i|%>
      <div class="col-xs-12 col-sm-6 col-md-4">
      <%= render "shared/card" , indice: i%>
      </div>

  <%end%>
</div>
</div>
</div>
