<ul class= "welcomenu" style="display: flex; justify-content: space-around; margin-bottom: 40px;font-family:Quicksand;font-size: 20px;">
  <li style="list-style-type: none;"><%= link_to root_path, class: "hvr-shrink", :style => "text-decoration: none; color:black;" do %>Immobiler<%end%>
  </li>
  <li style="list-style-type: none;"><%= link_to root_path, class: "hvr-shrink",:style => "text-decoration: none; color:black;" do %>Professionnels<%end%>
  </li>
  <li style="list-style-type: none;"><%= link_to root_path, class: "hvr-shrink",:style => "text-decoration: none; color:black;" do %>Déco shops<%end%>
  </li>
  <li style="list-style-type: none;"><%= link_to root_path, class: "hvr-shrink",:style => "text-decoration: none; color:black;" do %>Projets<%end%>
  </li>
</ul>

<div>
  <p class="punchliner text-center" style="z-index: 10;display: inline; width: 100%;
    float: left; font-family: Heebo; font-weight: thin!important;font-size: 70px;
  color: white; position: relative; top: 30vh;left:0%;">Concrétisez votre rêve immobilier</p>
</div>
<div class="videocont">
  <video  preload="auto" autoplay="true" loop="loop" id="video-background" width="100%" height="auto" style="
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);">
    <source src= "<%= image_path("home_web.mp4")%>" type="video/mp4" >
  </video>
</div>


<div class="container" style="margin-top: 50px;">
  <div class="row row-centered">
      <%= render "shared/card"%>
      <%= render "shared/card" %>
      <%= render "shared/card" %>
      <%= render "shared/card" %>
      <%= render "shared/card" %>
      <%= render "shared/card" %>
  </div>
</div>
