<ul class= "welcomenu" style="display: flex; justify-content: space-around; margin-bottom: 40px;font-family:Quicksand;font-size: 20px;">
<li style="list-style-type: none;"><%= link_to root_path, :style => "text-decoration: none; color:black;" do %>Immobiler<%end%>
</li>
<li style="list-style-type: none;"><%= link_to root_path, :style => "text-decoration: none; color:black;" do %>Professionnels<%end%>
</li>
<li style="list-style-type: none;"><%= link_to root_path, :style => "text-decoration: none; color:black;" do %>Déco shops<%end%>
</li>
<li style="list-style-type: none;"><%= link_to root_path, :style => "text-decoration: none; color:black;" do %>Projets<%end%>
</li>
</ul>

<div>
<p class="punchline text-center" style="display: inline; width: 100%;
    float: left; font-family: Quicksand; font-weight: lighter!important;font-size: 70px;

  color: white; : relative; top: 50vh;left:0%;">Concrétisez votre rêve immobilier</p>

<div style="display: flex; justify-content: space-around;">
<% 4.times do |i|%>
<%= render "shared/card", indice: i %>
<%end%>
</div>
<div class="video-container">
    <video preload="auto" autoplay="true" loop="loop" id="video-background" width="100%" >
    <source src= "<%= image_path("home_web.mp4")%>" type="video/mp4">
</video>

