<ul class= "welcomenu" style="display: flex; justify-content: space-around; margin-bottom: 40px;">
  <li style="list-style-type: none;"><%= link_to root_path, :style => "text-decoration: none; color:black;" do %>Immobiler<%end%>
  </li>
  <li style="list-style-type: none;"><%= link_to root_path, :style => "text-decoration: none; color:black;" do %>Professionnels<%end%>
  </li>
  <li style="list-style-type: none;"><%= link_to root_path, :style => "text-decoration: none; color:black;" do %>Déco shops<%end%>
  </li>
  <li style="list-style-type: none;"><%= link_to root_path, :style => "text-decoration: none; color:black;" do %>Projets<%end%>
  </li>
</ul>
<% @offers.each do |offer| %>
<div class="container" style>
  <div class="row">
    <div class="media">
      <div class="media-body">
        <div class="media-section">
          <h3><%= offer.name %></h3>
          <% offer.photos.each do |photo| %>
          <%= cl_image_tag photo.fullpath, width: 500, height: 500, crop: :fill %>
          <% end %>
        </div>
        <div class="media-section">
          <h3>Info</h3>
          <ul class="input_count">
            <li><%= offer.description %></li>
            <li>City: <%= offer.city %></li>
            <li>Price : <%= offer.price %> euros</li>
            <li>Surface: <%= offer.surface %> m2</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
